{#
/**
 * @file
 * Default theme implementation of a text with number element.
 *
 * Available variables:
 * - attributes: HTML attributes for the datetime form element.
 * - value_type: The type of value.
 * - value: The value to be output.
 *
 * @see template_preprocess_text_with_number__number_item()
 *
 * @ingroup themeable
 */
#}

<p{{ attributes }}>
  {{ value }}
</p>

